<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="'我的订单 - ' + ${webName}"></title>
    <head th:include="/shop/common::head"></head>
</head>
<body>
<head th:include="/shop/common::tip"></head>
<head th:include="/shop/common::dlg"></head>
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">我的订单</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<form class="order-search-form" onsubmit="return orderSearch();">
    <input type="hidden" name="action" value="order" />
    <div class="cate-search" style="position: relative; top: 0; border-bottom: 0;">
        <!-- ajax搜索 -->
        <input type="text" class="cate-input" name="word" placeholder="搜索全部订单">
        <input type="button" class="cate-btn">
    </div>
    <ul class="order-style order-status-select">
        <li class="current"><a data-status="">全部</a></li>
        <li><a data-status="0">待付款</a></li>
        <li><a data-status="10">待收货</a></li>
        <li><a data-status="11">待评价</a></li>
        <li><a data-status="20">退换货</a></li>
    </ul>
    <input type="hidden" name="status" value="">
    <input type="hidden" name="page" value="1" />
    <input type="hidden" name="wordOld" value="" />
    <input type="hidden" name="statusOld" value="">
</form>

<div class="orderListTpl"></div>


<script id="orderListTpl" type="text/template">
    {{if $data.length == 0}}
    <p style="text-align: center;">没有找到订单！</p>
    {{else}}
    {{each $data as item}}
        <div class="c-comment">
            <span class="c-comment-num">订单编号：{{item.number }}</span>
            <span class="c-comment-suc">
                {{if item.status==0}}
                待付款
                {{else if item.status==10}}
                待发货
                {{else if item.status==11}}
                待收货
                {{else if item.status==20}}
                退换货中
                {{else if item.status==11}}
                交易完成
                {{/if}}
            </span>
        </div>
        <div class="c-comment-list" style="border: 0;">
            {{each item.goods as goods goodsIndex}}
            <a class="o-con" href="">
                <div class="o-con-img"><img src="{{goods.goodsThumb}}"></div>
                <div class="o-con-txt">
                    <p>{{goods.goodsName}}</p>
                    <p class="price">￥{{goods.goodsPrice}}</p>
                    <p>合计：<span>￥{{goods.total}}</span></p>
                </div>
                <div class="o-con-much"><h4>x{{goods.goodsNumber}}</h4></div>
            </a>
            {{/each}}
            <div class="c-com-money">共<span>{{item.goods.length }}</span>个商品 实付金额：<span>￥ {{item.total }}</span></div>
        </div>
        <div class="c-com-btn">
            {{if item.status==0}}
            <a href="/user/orderPay/{{item.id }}">立即支付</a>
            <a onclick="orderCancel( {{item.id }} );">取消订单</a>
            {{else if( item.status==10 || item.status==11 )}}
            <a onclick="orderConfirm( {{item.id }} );">确认收货</a>
            <a href="#">申请退换</a>
            {{else if item.status==20}}
            <a href="#">退换货</a>
            {{else if item.status==11}}
            <a href="/user/orderComment/{{item.id }}">评价</a>
            <a onclick="orderDelete({{item.id }});">删除订单</a>
            {{/if}}
        </div>
        <div class="clear"></div>
    {{/each}}
    {{/if}}
</script>

</body>
<script type="text/javascript">
    var orderForm = $(".order-search-form")[0];
    $(function(){
        //  订单状态选择
        $(".order-status-select").find("li").click(function(){
            $(this).addClass("current").siblings().removeClass("current");
            orderForm.status.value = $(this).find("a").data("status");
            orderSearch();
        });
        $(".order-status-select").find("li:eq(1)").click();
        // 滚动条监听
    });
    function orderSearch(){
        if( orderForm.wordOld.value != orderForm.word.value
            || orderForm.statusOld.value != orderForm.status.value
        ){
            orderForm.page.value = 1;
            $(".orderListTpl").html("");
        }
        if( orderForm.page.value == -1 ){
            return false; }
        orderForm.wordOld.value = orderForm.word.value;
        orderForm.statusOld.value = orderForm.status.value;

        ajaxPost("/user/post",$(orderForm).serialize(),function(res){
            if( res.code !== 1 ){
                return tipShow("数据获取异常,错误信息："+res.msg);
            }
            //  加载分页数据
            if( res.data.currentPage == 1 ){
                $(".orderListTpl").html( template("orderListTpl", res.data.items ) );
            } else {
                $(".orderListTpl").append( template("orderListTpl", res.data.items ) );
            }
            if( res.data.hasMore == false && res.data.total != 0 ){
                orderForm.page.value = -1;
                $(".orderListTpl").append("已加载完所有订单！");
            }
            orderForm.page.value = res.data.currentPage++;
        });
        return false;
    }
    function orderConfirm(id){
        return false;
    }
    function orderCancel(id){
        tipShow({msg:"是否取消！",btns:[{c:'orderCancelFunc('+id+');',t:'是'},{c:'tipHide();',t:'否'}]});
    }
    function orderCancelFunc(id){
        clog( id );

        //  刷新
        orderForm.page.value = 1;
        orderSearch();
    }
    function orderDelete(id){
        tipShow({msg:"是否删除！",btns:[{c:'orderDeleteFunc('+id+');',t:'是'},{c:'tipHide();',t:'否'}]});
    }
    function orderDeleteFunc(id){
        clog( id );

        //  刷新
        orderForm.page.value = 1;
        orderSearch();
    }
</script>
</html>
