<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tfotu.shop.dao.OrderMapper">

    <!-- 未定义resultMap,启用了驼峰转换 不是特别的不用，返回结果字段：goods_name->goodsName -->

    <sql id="getSearchComStr">
        FROM `order`
        <where>
            <if test="uid!=null">`uid`=#{uid}</if>
            <if test="word!=null">AND `number` LIKE #{word}</if>
            <if test="status!=null">AND `status` LIKE #{status}</if>
        </where>
        ORDER BY `id` DESC
    </sql>
    <select id="getSearch" resultType="com.tfotu.shop.entity.Order"
            parameterType="com.tfotu.shop.entity.where.OrderWhere">
        SELECT id,`number`,uid,total,status,pay_type,pay,`delete`,ctime
        <include refid="getSearchComStr"></include>
        <if test="index!=null and limit!=null">LIMIT #{index},#{limit}</if>
    </select>
    <select id="getSearchCount" resultType="java.lang.Integer"
            parameterType="com.tfotu.shop.entity.where.OrderWhere">
        SELECT count(*)
        <include refid="getSearchComStr"></include>
    </select>

    <select id="getById" resultType="com.tfotu.shop.entity.Order">
        SELECT id,`number`,uid,total,status,pay_type,pay,`delete`,ctime
        FROM `order`
        WHERE id = #{id} AND uid = #{uid}
        ORDER BY `id` DESC
    </select>

    <insert id="insert"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.tfotu.shop.entity.Order">
        INSERT INTO
        `order`(`number`,uid,total,message,status,pay_type,pay,`delete`,ctime)
        VALUES
        (#{number},#{uid},#{total},#{message},#{status},#{payType},#{pay},#{delete},#{ctime})
    </insert>
    
    <update id="update" parameterType="com.tfotu.shop.entity.Order">
        UPDATE `order`
        <set>
            <if test="number!=null">number=#{number},</if>
            <if test="total!=null">total=#{total},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="payType!=null">pay_type=#{payType},</if>
            <if test="pay!=null">pay=#{pay},</if>
            <if test="total!=null">total=#{total},</if>
            <if test="ctime!=null">ctime=#{ctime}</if>
        </set>
        WHERE id=#{id} AND uid=#{uid}
    </update>

    <delete id="delete">
        DELETE FROM `order` WHERE id=#{id}
    </delete>
</mapper>