<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tfotu.shop.dao.SmsMapper">

    <!-- 未定义resultMap,启用了驼峰转换 不是特别的不用 -->

    <select id="getAll" resultType="com.tfotu.shop.entity.Sms">
        SELECT id,utype,uid,mobile,code,ctime
        FROM `sms`
        ORDER BY id DESC
    </select>

    <select id="getById" resultType="com.tfotu.shop.entity.Sms">
        SELECT id,utype,uid,mobile,code,ctime
        FROM `sms`
        WHERE id = #{id}
        ORDER BY id DESC
    </select>

    <insert id="insert"
            useGeneratedKeys="true" keyProperty="id" keyColumn="id"
            parameterType="com.tfotu.shop.entity.Sms">
        INSERT INTO
        `sms`(utype,uid,mobile,code,ctime)
        VALUES
        (#{utype},#{uid},#{mobile},#{code},#{ctime})
    </insert>
    
    <update id="update" parameterType="com.tfotu.shop.entity.Sms">
        UPDATE `sms`
        <set>
            <if test="utype!=null">utype=#{utype},</if>
            <if test="uid!=null">uid=#{uid},</if>
            <if test="mobile!=null">mobile=#{mobile},</if>
            <if test="code!=null">code=#{code},</if>
            <if test="ctime!=null">ctime=#{ctime}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM `sms` WHERE id=#{id}
    </delete>
</mapper>