<!-- 公共模板内容 -->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="Cache-Control" content="no-siteapp" />

        <link rel="shortcut icon" href="/static/shop/img/shopcart.png"/>
        <link href="/static/shop/css/amazeui.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/shop/css/style.css" rel="stylesheet" type="text/css" />
        <script src="/static/shop/js/jquery-1.10.2.min.js"></script>
        <script src="/static/shop/js/time.js"></script>
        <!-- common -->
        <script src="/static/common/js/com.js"></script>
        <script src="/static/common/js/template.js"></script>
    </head>
    <foot th:fragment="foot">
        <script src="/static/shop/js/jquery.min.js"></script>
        <script src="/static/shop/js/amazeui.min.js"></script>
    </foot>
    <footer th:fragment="footer">
        <!--底部-->
        <div style="height: 55px;"></div>
        <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default sq-foot am-no-layout" id="">
            <ul class="am-navbar-nav am-cf am-avg-sm-4">
                <li>
                    <!-- <a href="index.html" class="curr"> -->
                    <a href="/" class="">
                        <span class="am-icon-home"></span>
                        <span class="am-navbar-label">首页</span>
                    </a>
                </li>
                <li>
                    <a href="/category.html" class="">
                        <span class="am-icon-th-large"></span>
                        <span class="am-navbar-label">分类</span>
                    </a>
                </li>

                <li>
                    <a href="/user/shopcart.html" class="">
                        <span class="am-icon-shopping-cart"></span>
                        <span class="am-navbar-label">购物车</span>
                    </a>
                </li>
                <li>
                    <a href="/user" class="">
                        <span class="am-icon-user"></span>
                        <span class="am-navbar-label">个人中心</span>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- tip提示框 -->
    <div th:fragment="tip">
        <style>
            .tip{ opacity:0;z-index: 9999; position: fixed;width: 100%;height: 100%; text-align: center; background: rgba( 65,65,65, 0.5); }
            .tip .containers{ margin: 65% 5% 0% 5%; padding: 10px 20px; background: #efefef; border-radius: 10px; }
            .tip .containers .title{}
            .tip .containers .msg{ margin: 10px 0 10px 0; }
            .tip .containers .btn{ padding: 2px 8px; background:#ff5500;border: 0px; color: #fff; }
        </style>
        <div class="tip" style="display: none;"></div>
        <script id="tipTpl" type="text/template">
            <div class="containers">
                <h3 class="title">
                    {{if title!=null}}{{title }}{{else}}提示{{/if}}
                </h3>
                <div class="msg">{{msg}}</div>
                <div>{{each btns}}
                    <button class="btn" onclick="{{$value.c}}">{{$value.t}}</button>
                    {{/each}}</div>
            </div>
        </script>
        <script type="text/javascript">
            function tipShow(data){
                clog( typeof data );
                if( typeof data == "string" || data == null){
                    data = {msg: data,btns:[{t:"确定",c:"tipHide()"}] };
                }
                $(".tip").show();
                $(".tip").html( template( "tipTpl", data) );
                $(".tip").animate({opacity:"1"}, 250);
            }
            function tipHide(){ $(".tip").animate({opacity:""}, 250,function(){ $(".tip").hide(); }); }
        </script>
    </div>

    <!-- 编辑框 -->
    <div th:fragment="dlg">
        <style>
            .dlg{ opacity:0;z-index: 99; position: fixed;width: 100%;height: 100%; text-align: center; background: rgba( 65,65,65, 0.5); }
            .dlg .dlgbody{ margin: 65% 5% 0% 5%; padding: 10px 20px; background: #efefef; border-radius: 10px; }
        </style>
        <div class="dlg" style="display: none;">
            <div class="dlgbody">
                <a onclick="dlgHide();">X</a>
                <div class="containers"></div>
            </div>
        </div>
        <script type="text/javascript">
            function dlgShow(tpl,data){
                $(".dlg").show();
                $(".dlg").find(".containers").html( template( tpl, data) );
                $(".dlg").animate({opacity:"1"}, 250);
            }
            function dlgHide(){ $(".dlg").animate({opacity:""}, 250,function(){ $(".dlg").hide(); }); }
        </script>
    </div>
</html>