<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品不存在</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <head th:include="/shop/common::head"></head>

    <style>
        .am-slider-default .am-control-nav {
            text-align: center;
        }

        .am-slider-default .am-control-nav li a.am-active {
            background: #fdb325;
        }

        .am-slider-default .am-control-nav li a {
            border: 0;
            width: 10px;
            height: 10px;
        }
    </style>
</head>
<body>
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">商品详情</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<!--图片轮换-->
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
    <ul class="am-slides">
        <li><img src="/static/shop/img/logo.png"/></li>
        <li><img src="/static/shop/img/logo.png"/></li>
    </ul>
</div>
<div class="detal-info">
    <p>商品不存在</p>
    <h2><span></span></h2>
</div>

<!--底部-->
<div style=" height: 55px;"></div>
<ul class="fix-shopping">
    <li><a href="javascript:window.history.back();" class="imm-buy">返回上一页</a></li>
</ul>


<div th:include="/shop/common::foot"></div>
</body>
</html>
