<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${goods.name} + ' - 详情 - ' + ${webName}"></title>
    <meta name="description" content="" th:content="${goods.name}">
    <meta name="keywords" content="">
    <head th:include="/shop/common::head"></head>

    <style>
        .am-slider-default .am-control-nav{ text-align: center;}
        .am-slider-default .am-control-nav li a.am-active{ background: #fdb325;}
        .am-slider-default .am-control-nav li a{ border: 0; width: 10px; height: 10px;}
    </style>
</head>
<head th:include="/shop/common::tip"></head>
<body>
<header data-am-widget="header" class="am-header am-header-default sq-head ">
    <div class="am-header-left am-header-nav">
        <a href="javascript:history.back()" class="">
            <i class="am-icon-chevron-left"></i>
        </a>
    </div>
    <h1 class="am-header-title">
        <a href="" class="">商品详情</a>
    </h1>
</header>
<div style="height: 49px;"></div>
<!--图片轮换-->
<div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
    <ul class="am-slides">
        <li th:each="img : ${imgs}"><img src="/static/shop/img/logo.png" th:src="${img}"/></li>
    </ul>
</div>
<div class="detal-info">
    <p th:text="${goods.name}">商品名</p>
    <h2>商城价：<span th:text="'￥' + ${goods.price}">￥52.00</span></h2>
</div>
<div class="d-amount">
    <h4>数量：</h4>
    <div class="d-stock">
        <a class="decrease">-</a>
        <input id="num" readonly="" class="text_box" name="" type="text" value="1">
        <a class="increase">+</a>
        <input id="number" type="hidden" value="644" th:value="${goods.id}">
        <span id="dprice" class="price" style="display:none"> 36</span>
    </div>
</div>
<div style="background: #eee; height: 10px;"></div>
<div class="am-tabs detail-list" data-am-tabs>
    <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">商品详情</a></li>
        <li><a href="#tab2">商品评论</a></li>
    </ul>

    <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active detail " id="tab1">
            <p>产地: XX</p>
            <p>保质期: >2年</p>
            <div th:text="${goods.descr}"></div>
        </div>
        <div class="am-tab-panel am-fade detail " id="tab2">
            <div class="comment">
                <span>好评：</span>
                <div class="com-good"></div>
                <span>100%</span>
            </div>
            <div class="comment">
                <span>中评：</span>
                <div class="com-bad"></div>
                <span>0%</span>
            </div>
            <div class="comment">
                <span>差评：</span>
                <div class="com-bad"></div>
                <span>0%</span>
            </div>
            <ul class="comment-list">
                <li><a >全部</a></li>
                <li><a >好评（20）</a></li>
                <li><a >中评（5）</a></li>
                <li><a >差评（0）</a></li>
            </ul>
            <ul class="comment-pic">
                <li>
                    <div class="tit">
                        <img src="/static/shop/img/memtx.png" class="tx"/>
                        <span>songke2014</span>
                        <i> [2016-01-01]</i>
                    </div>
                    <div class="comment-con">
                        买了些给家人，都说不错！
                    </div>
                </li>
                <li>
                    <div class="tit">
                        <img src="/static/shop/img/memtx.png" class="tx"/>
                        <span>songke2014</span>
                        <i> [2016-01-01]</i>
                    </div>
                    <div class="comment-con">
                        买了些给家人，都说不错！
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--底部-->
<div style=" height: 55px;"></div>
<ul class="fix-shopping">
    <form action="/user/tureorder" method="post" onsubmit="return true;">
        <input type="hidden" name="buyGoodsFormType" value="goods" />
        <input type="hidden" name="goodsId" value="" th:value="${goods.id}"/>
        <input class="goodsNumber" hidden="hidden" th:name="'goodsNumber['+${goods.id}+']'" value="1" />
    </form>
    <li><a th:onclick="'cartAdd('+ ${goods.id}+',false)'" class="join">加入购物车</a></li>
    <li><a onclick="$('form').submit()" class="imm-buy">立即购买</a></li>
</ul>

<script>
    //购物数量加减
    $(function () {
        $('.increase').click(function () {
            var self = $(this);
            var current_num = parseInt(self.siblings('input').val());
            current_num += 1;
            self.siblings('input').val(current_num);
            update_item(current_num);
        })
        $('.decrease').click(function () {
            var self = $(this);
            var current_num = parseInt(self.siblings('input').val());
            if (current_num > 1) {
                current_num -= 1;
                self.siblings('input').val(current_num);
                update_item(current_num);
            }
        })
    })
    function update_item(num){
        var form = $('form')[0];
        $(form).find(".goodsNumber").val( num );
    }
    function cartAdd(id,isBuy){
        var id = id,number = $("#number").val();
        if( isBuy ){
            tipShow("正在跳转到下单页面！");
        }
        ajaxPost("/user/post",{action:'cartadd',id:id,number:number},function(res){
            if( res.code == 1 ){
                if( !isBuy ){
                    return tipShow({msg:"添加成功！",btns:[{t:'确定',c:'tipHide();'},{t:'进入购物车',c:'window.location.href = "/user/shopcart.html";'}]});
                }else{  //  buy跳转到订单确认页面
                    window.location.href = "/user/tureorder.html"; }
            }else{
                tipShow(res.msg);
            }
        });
    }
</script>


<div th:include="/shop/common::foot"></div>
</body>
</html>
